@import "tailwindcss";


@theme {
  --color-brand-offwhite: #f1f1f1;
  --color-brand-stroke: rgba(0, 0, 0, 0.1);
  --color-brand-green: #00703a;

  --text-5xl: 2.5rem;

  --tracking-tighter: -0.03125rem;

  --leading-base: 1.25;

  --shadow-floating-card: -4px 2px 10px 0px rgba(0, 0, 0, 0.01);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme inline {
  --font-sans: var(--font-sf-pro)
}

@layer base {
  body {
    @apply bg-brand-offwhite leading-base tracking-tighter text-black;
  }

  h1 {
    @apply text-5xl font-normal tracking-tighter;
  }
}
